.lh-normal {
	line-height: normal;
}

.lh14 {
	line-height: 14px;
}

.lh16 {
	line-height: 16px;
}

.lh18 {
	line-height: 18px;
}

.lh20 {
	line-height: 20px;
}

.lh21 {
	line-height: 21px;
}

.lh22 {
	line-height: 22px;
}

.lh23 {
	line-height: 23px;
}

.lh24 {
	line-height: 24px;
}

.lh25 {
	line-height: 25px;
}

.lh26 {
	line-height: 26px;
}

.lh27 {
	line-height: 27px;
}

.lh28 {
	line-height: 28px;
}

.lh29 {
	line-height: 29px;
}

.lh30 {
	line-height: 30px;
}

.lh31 {
	line-height: 31px;
}

.lh32 {
	line-height: 32px;
}

.lh33 {
	line-height: 33px;
}

.lh34 {
	line-height: 34px;
}

.lh35 {
	line-height: 35px;
}

.lh36 {
	line-height: 36px;
}

.lh37 {
	line-height: 37px;
}

.lh38 {
	line-height: 38px;
}

.lh39 {
	line-height: 39px;
}

.lh40 {
	line-height: 40px;
}

.lh43 {
	line-height: 43px;
}

.fs11 {
	font-size: 11px !important;
}

.fs12 {
	font-size: 12px;
}

.fs13 {
	font-size: 13px;
}

.fs14 {
	font-size: 14px;
}

.fs15 {
	font-size: 15px;
}

.fs16 {
	font-size: 16px !important;
}

.fs18 {
	font-size: 18px !important;
}

.fs20 {
	font-size: 20px !important;
}

.fs22 {
	font-size: 22px !important;
}

.fs24 {
	font-size: 24px;
}

.fs26 {
	font-size: 26px;
}

.fs29 {
	font-size: 29px;
}

.fs34 {
	font-size: 34px;
}

.fs50 {
	font-size: 50px;
}

.fw-medium {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600 !important;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800 !important;
}

.rounded-2 {
	border-radius: 2px;
}

.rounded-5 {
	border-radius: 5px;
}

.rounded-8 {
	border-radius: 8px !important;
}

.rounded-10 {
	border-radius: 10px;
}

.rounded-20 {
	border-radius: 20px;
}

.rounded-24 {
	border-radius: 24px;
}

.rounded-25 {
	border-radius: 25px !important;
}

.w-18px {
	max-width: 18px;
}

.fs-6 {
	font-size: 14px !important;
}

.mb-9px {
	margin-bottom: 9px;
}

.mb-10px {
	margin-bottom: 10px;
}

.mb-12px {
	margin-bottom: 12px;
}

.mb-13px {
	margin-bottom: 13px;
}

.mb-30px {
	margin-bottom: 30px;
}

.mb-37px {
	margin-bottom: 37px;
}

.pt-30px {
	padding-top: 30px;
}

.pb-30px {
	padding-bottom: 30px;
}

.bg-primary {
	background-color: var(--bs-primary) !important;
}

.bg-white-light {
	background-color: #f5f9fc;
}

.bg-dark-light {
	background-color: #edebeb;
}

// vh height
.h-100vh {
	height: calc(100vh - 124px);
}

// Colors Start

.text-primary {
	color: var(--bs-text-primary) !important;
}

.text-secondary {
	color: var(--bs-text-secondary) !important;
}

.text-dark {
	color: var(--bs-dark) !important;
}

.text-light {
	color: var(--bs-danger) !important;
}

.text-success {
	color: var(--bs-success) !important;
}

.bg-success {
	background: var(--bs-success);
}

.text-seventy {
	color: var(--bs-seventy);
}

.text-auth-secondary {
	color: var(--bs-auth-secondary) !important;
}

.card-body {
    border-radius: 0.625rem;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
    background-color: var(--bs-white);
    border: 1px solid #f1f1f4;
    padding: 2rem 2.25rem;
}