.counterLimit {
    background: #EBF4FF;
    font-size: 12px;
    font-weight: 500;
    color: #3E97FF;
    border-radius: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
}